<div class="row">
    <div class="col-md-6" cg-busy="myPromise">
        <h1>Repos</h1>
        <div>
            <input class="form-control" placeholder="Search Repos" ng-model="reposSearch">
            <button class="btn btn-primary" ng-click="searchRepos()">Search</button>
        </div>
        <div style="overflow: auto; height: 300px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos" ui-sref="repos.detail({repoId:repo.id})">
                        <td>{{ repo.full_name }}</td>
                        <td>{{ repo.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-view="q3"></div>
    </div>
</div>
