<h1>Repos</h1>
<div>
    <input class="form-control" placeholder="Search Repos" ng-model="reposSearch">
    <button class="btn btn-primary" ng-click="searchRepos()">Search</button>
</div>
<div style="overflow: auto; height: 600px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Description</th>
                <th>Forks</th>
                <th>Stargazers</th>
                <th>Open Issues</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos">
                <td>{{ repo.id }}</td>
                <td>{{ repo.full_name }}</td>
                <td>{{ repo.description }}</td>
                <td>{{ repo.forks_count }}</td>
                <td>{{ repo.stargazers_count }}</td>
                <td>{{ repo.open_issues }}</td>
            </tr>
        </tbody>
    </table>
</div>
table-striped"
